# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.tex
*.bib
*.cls
*.sty

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
env/
build/
dist/
*.egg-info/

# Models & Data
provguard/models/
data/
experiments/values.tex

# OS
.DS_Store
